body{
    font: 14px "Centery Gothig",Futura, sans-serif;
    margin: 100px;
    background-color: rgb(173, 172, 172);

}
.first {
    background-color: rgba(238, 183, 183, 0.614);
    font-size: 17px;
    border-radius: 10px;
    
}

.form{
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
}
.select{
    margin-bottom: 100px;
    text-align: center;
    height: 30px;
    border-radius: 7px;
}
.btn{
    margin-left: 95px;
    font-size: 20px;
    border-radius: 5px;
}
